<div class="bg-base-100 flex flex-col rounded-md shadow-base-300/20 shadow-sm">
  <div class="border-base-content/25 flex justify-end-safe items-center border-b px-5 py-3 gap-3">
    <div class="input input-sm max-w-60">
      <span class="icon-[tabler--search] text-base-content/80 my-auto me-3 size-4 shrink-0"></span>
      <label class="sr-only" for="table-column-actions-search"></label>
      <input
        class="grow"
        placeholder="Search for items"
        id="table-column-actions-search"
        [(ngModel)]="search"
      />
    </div>
    <div class="flex items-center justify-end gap-3">
      <!-- Select -->
      <select
        aria-label="select"
        class="select w-fit max-sm:w-16 select select-sm max-w-sm"
        name=""
        id="pagination"
        (change)="onPageChange($event.target)"
      >
        @for (p of itemsPerPage; track $index) {
          <option [value]="p">{{ p }}</option>
        }
      </select>
      <!-- End Select -->
    </div>
  </div>
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        <table class="table min-w-full">
          <thead>
            <tr>
              @for (h of headers; track $index) {
                <th scope="col" class="group">
                  <div class="flex items-center justify-between">
                    {{ h }}
                  </div>
                </th>
              }
            </tr>
          </thead>
          @if (resource.hasValue()) {
            <tbody>
              @for (item of resource.value().results; track $index) {
                <tr>
                  <td>
                    <span
                      class="badge badge-outline border-dashed badge-primary badge-lg cursor-pointer"
                      [routerLink]="['..', 'users', item.members[0]._id]"
                    >
                      <img [src]="item.members[0].avatar" alt="John" class="size-5 rounded-full" />
                      {{ item.members[0].name }}
                      {{ item.members[0].lastName }}
                    </span>
                  </td>
                  <td>
                    <span
                      class="badge badge-outline border-dashed badge-info badge-lg cursor-pointer"
                      [routerLink]="['..', 'users', item.members[1]._id]"
                    >
                      <img [src]="item.members[1].avatar" alt="John" class="size-5 rounded-full" />
                      {{ item.members[1].name }}
                      {{ item.members[1].lastName }}
                    </span>
                  </td>
                  <td>{{ item.messages.length }}</td>
                  <td>{{ item.createdAt | date }}</td>
                  <td>
                    <button
                      type="button"
                      aria-label="View chat"
                      aria-labelledby="view-chat"
                      class="btn btn-circle btn-text btn-sm"
                      aria-haspopup="dialog"
                      aria-expanded="false"
                      aria-controls="chat-modal"
                      data-overlay="#chat-modal"
                      (click)="openChat(item._id)"
                    >
                      <span class="icon-[tabler--eye] size-5"></span>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          }
        </table>
      </div>
    </div>
  </div>
  @if (resource.hasValue()) {
    <app-paginator
      [limit]="limit()"
      [metadata]="resource.value().metadata"
      (onPageChange)="goTopage($event)"
    />
  }
</div>

<!-- Modal Chat -->
<div id="chat-modal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Chat</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute inset-e-3 top-3"
          aria-label="Close"
          data-overlay="#chat-modal"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          @if (room.hasValue()) {
            @for (message of room.value().messages; track $index) {
              <app-chat-bubble [message]="message" />
            }
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-soft btn-secondary" data-overlay="#chat-modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
