<div
  class="border-base-content/25 flex items-center gap-3 border-t p-3 max-md:flex-wrap max-md:justify-center"
>
  <div class="text-sm text-base-content/80">
    <span>Mostrando {{ fromPage() }} </span>
    <span> a {{ toPage() }} </span>
    <span> de {{ metadata().totalRecords }} registros </span>
  </div>
  <div class="md:flex hidden items-center space-x-1">
    <button
      type="button"
      class="btn btn-text btn-circle btn-sm"
      [disabled]="metadata().currentPage === 1"
      (click)="goToPage(metadata().currentPage - 1)"
    >
      <span class="icon-[tabler--chevrons-left] size-4.5 rtl:rotate-180"></span>
      <span class="sr-only">Previous</span>
    </button>
    <div class="flex items-center space-x-1 [&>.active]:text-bg-soft-primary"></div>
    <button
      type="button"
      class="btn btn-text btn-circle btn-sm"
      [disabled]="metadata().currentPage === metadata().totalPages"
      (click)="goToPage(metadata().currentPage + 1)"
    >
      <span class="sr-only">Next</span>
      <span class="icon-[tabler--chevrons-right] size-4.5 rtl:rotate-180"></span>
    </button>
  </div>
</div>
