<div
  class="flex items-center gap-3 p-3 bg-white rounded-lg border border-gray-300 shadow-sm hover:shadow-md transition-shadow cursor-pointer" [routerLink]="'./users/'+user()._id">
  <!-- Avatar con Indicador de Estado Online ficticio -->
  <div class="avatar avatar-online-bottom">
    <div class="size-10 rounded-full">
      <img
      [src]="user().avatar"
      [alt]="user().name"
    />
    </div>
  </div>

  <!-- Info del Usuario -->
  <div class="flex-1 min-w-0">
    <div class="flex items-center justify-between">
      <h3 class="text-sm font-medium text-gray-800 truncate">
        {{ user().name }} {{ user().lastName }}
      </h3>
    </div>

    <!-- Metadata -->
    <div class="flex items-center text-[11px] text-gray-400 mt-0.5">
      <!-- <span class="material-symbols-outlined" style="font-size: 12px"> calendar_today </span> -->
      {{ user().advisor?.category }}
    </div>
  </div>

  <!-- Role Badge -->
   @if(user().averageRating){
    <span class="flex items-center font-base">
      {{user().averageRating}}
      <span class="icon-[tabler--star-filled] size-4.5 text-yellow-300 ms-1"></span>
   </span>
   }

</div>