<div class=" bg-[#1D4747] text-white py-6">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 md:flex-row gap-x-6">
        <div >
            <p class="text-5xl font-serif-elegant">Nuestros asesores</p>
            <p class="mt-2 mb-6 w-2/3">
                Conoce a algunos de nuestros expertos y encuentra el que mejor se adapte a ti.
            </p>
            <a href="#servicios"
                class="flex items-center text-[#CFAA61] hover:bg-emerald-900 text-center px-8 py-2 rounded-full font-medium tracking-wide transition-all shadow-md shadow-emerald-950/10 border border-[#CFAA61] w-fit gap-2">
                <span>Comienza tu consulta</span>
                <span class="icon-[tabler--arrow-right] size-6 shrink-0 "></span>
            </a>
        </div>
        <div class="flex flex-row col-span-2 gap-4 justify-center">
            @for (item of resource.value(); track $index) {
            <div class="flex flex-col border border-white/50 w-1/4 rounded-2xl h-60">
                <img [src]="item.avatar" [alt]="item.name"
                    class="h-1/2 rounded-t-2xl mask-b-from-50% mask-radial-[60%_90%] mask-radial-from-75%">
                <div class="m-2">
                    <p class="truncate text-[#CFAA61] font-medium mb-1">{{item.advisor.alias}}</p>
                    <p class="text-sm truncate mb-1.5">{{item.advisor.category}}</p>
                    <p class="text-xs">Chat: {{item.advisor.chatPrice | currency}}/min.</p>
                    @if (item.advisor.enabledCall) {
                        <p class="text-xs">Llamadas: {{item.advisor.callPrice | currency}}/min.</p>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>