<div class=" bg-[#1D4747] text-white py-6 fondo">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row px-4 md:px-0 gap-y-4 md:gap-0">
        <div class="md:m-auto text-center md:text-start w-full md:w-1/3">
            <p class="md:text-5xl text-3xl font-serif-elegant">Nuestros asesores</p>
            <p class="mt-2 mb-6 md:w-2/3 w-full">
                Conoce a algunos de nuestros expertos y encuentra el que mejor se adapte a ti.
            </p>
            <a href="#"
                class="flex flex-row text-[#CFAA61] hover:bg-emerald-900 text-center px-8 py-2 rounded-full font-medium tracking-wide transition-all shadow-md shadow-emerald-950/10 border border-[#CFAA61] w-fit gap-2 mx-auto md:mx-0">
                <span>Comienza tu consulta</span>
                <span class="icon-[tabler--arrow-right] size-6 shrink-0 "></span>
            </a>
        </div>
        <div class="flex flex-row justify-between gap-4 overflow-x-auto w-full md:w-2/3">
            @for (item of resource.value(); track $index) {
            <div class="flex flex-col border border-white/50 rounded-2xl min-h-60 shadow-xl shadow-cyan-500/10 pb-1.5 flex-1 min-w-40">
                <img [src]="item.avatar" [alt]="item.name"
                    class="h-1/2 rounded-t-2xl mask-b-from-60% mask-radial-[60%_90%] mask-radial-from-75%">
                <div class="m-2">
                    <p class="truncate text-[#CFAA61] font-medium">{{item.advisor.alias}}</p>
                    <p class="text-sm truncate mb-1 w-[90%]">{{item.advisor.category}}</p>
                    <div class="flex items-center text-[#CFAA61] mb-2">
                        <span class="icon-[tabler--star-filled] size-4 shrink-0 text-yellow-400 me-1"></span>
                        <span>{{item.rateAvg}}</span>
                    </div>
                    <p class="text-xs">Chat: {{item.advisor.chatPrice | currency}}/min.</p>
                    @if (item.advisor.enabledCall) {
                    <p class="text-xs">Llamadas: {{item.advisor.callPrice | currency}}/min.</p>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>