.fondo {
    background-image: url('../../../../../../public/images/bg/fondo-50.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-fondo {
    background-image: url('../../../../../../public/images/bg/fondo-50.png');
    background-size: cover;
    background-repeat: no-repeat;

}