<section id="home" class="mt-12">
  <div class="grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto gap-6">
    <img src="images/landing/global-team.svg" alt="globateam" />
    <div class="my-auto">
      <p
        class="text-5xl font-medium tracking-tight text-[#1d4747] leading-tight text-center md:text-left"
      >
        !Asesores por todo el <span class="text-[#CFAA61]">mundo</span>, busca y encuentra!
      </p>
    </div>
  </div>
</section>

<section id="steps" class="bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-3 max-w-7xl mx-auto px-6 py-20 gap-8 mt-10">
    @for (step of steps; track $index) {
      <div class="text-center space-y-2">
        <span class="material-symbols-outlined text-[#CFAA61]" style="font-size: 4rem">
          {{ step.icon }}
        </span>
        <p class="text-xl font-medium text-gray-600 tracking-wider">{{ step.title }}</p>
        <p class="text-gray-600 text-lg">
          {{ step.description }}
        </p>
      </div>
    }
  </div>
</section>

<!-- App -->
<section id="mobil-app">
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto max-w-6xl py-20">
    <img src="images/landing/mobil-app.svg" alt="download" class="size-96 mx-auto drop-shadow-lg" />
    <div class="m-auto">
      <p class="text-3xl text-gray-600 mb-4 font-medium">Descarga nuestra app para Android o iOS</p>
      <p class="text-lg">
        Accede conectate con nestros asesores de forma rápida y en cualquier parte del munto a
        través de nuestra app, descargala para Android o iOS desde el store de tu preferencia.
      </p>
      <div class="flex justify-center mt-6 gap-4 w-full">
        <img alt="google" src="images/logos/store/google-play.png" alt="Google Play" class="w-48" />
        <img alt="apple" src="images/logos/store/apple-store.png" alt="App Store" class="w-48" />
      </div>
    </div>
  </div>
</section>

<!-- Recarga Facil -->
<section id="payments" class="bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto max-w-6xl py-20">
    <div class="m-auto">
      <p class="text-3xl text-gray-600 mb-4 font-medium">Recarga fácil y rapido.</p>
      <p class="text-lg">
        Recargar tu wallet es muy sencillo, a través de Paypal podrás recargar tu billetera de forma
        rápida, fácil y segura!. Pronto tendremos más metodos de pago para tu mayor comodidad.
      </p>
    </div>
    <img
      src="images/landing/credit-card-payment.svg"
      alt="download"
      class="size-96 mx-auto drop-shadow-lg"
    />
  </div>
</section>

<!-- Quienes somos -->
<section id="about-us">
  <div class="max-w-7xl mx-auto px-6 py-20 grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-10">
    <div class="m-auto">
      <p class="text-3xl text-gray-600 mb-4 font-medium">¿Quienes somos?</p>
    </div>
    <div>
      <p class="text-lg">
        En Orbe, somos la conexión entre tu búsqueda de guía y el conocimiento de expertos en el
        mundo místico. Somos una aplicación diseñada para unir a un público general con una
        comunidad de especialistas en diversas disciplinas como tarot, videncia y otras ramas del
        conocimiento espiritual.
      </p>
    </div>
    <div>
      <p class="text-lg">
        Nuestra misión es iluminar tu camino. Creemos que cada persona tiene una luz interior que a
        veces necesita un poco de ayuda para brillar. Por eso, te ofrecemos un espacio seguro y
        confidencial para que puedas conectar con expertos que te ayudarán a encontrar respuestas,
        tomar decisiones y reconectar con tu esencia. En Orbe, tu privacidad es nuestra prioridad.
        Mantenemos tus conversaciones y datos seguros en todo momento, para que te sientas libre de
        explorar y descubrir. Estamos aquí para guiarte en tu camino hacia el autoconocimiento y la
        luz interior.
      </p>
    </div>
    <div class="m-auto">
      <p class="text-3xl text-gray-600 mb-4 font-medium">Nuestra misión</p>
    </div>
  </div>
</section>

<!-- Asesores Destacados -->
<section id="advisors" class="bg-gray-100">
  <div class="grid grid-cols-1 md:grid-cols-[1fr_1.7fr] gap-6 mx-auto px-6 py-20 max-w-7xl">
    <div>
      <p class="text-3xl font-medium tracking-tight text-gray-600 sm:text-4xl mb-6">
        Asesores Destacados
      </p>
      <p class="text-lg text-slate-600 mb-8 mr-2">
        Comienza a interactuar con nuestros mejores aseores, te guiarán a través de sus consultas y
        conseguiras aquello que mas quieres.
      </p>
    </div>
    <div class="overflow-x-auto flex flex-row gap-6">
      @for (item of top.value(); track $index) {
        <div
          class="flex flex-col border border-gray-300 hover:border-green-800 rounded-lg p-6 bg-white w-90 shrink-0 space-y-4"
        >
          <div class="flex items-center gap-3">
            <div class="avatar avatar-online-bottom">
              <div class="size-10 rounded-full">
                <img [src]="item.avatar" [alt]="item.name" aria-label="Avatar de {{ item.name }}" />
              </div>
            </div>

            <div class="flex-1 min-w-0">
              <div class="flex items-center justify-between">
                <h3 class="text-base font-medium text-gray-800 truncate">
                  {{ item.name }} {{ item.lastName }}
                </h3>
              </div>
              <div class="flex items-center text-sm text-gray-600">
                {{ item.advisor.category }}
              </div>
            </div>
          </div>
          <div class="flex justify-between">
            <div>
              @for (rate of [0, 1, 2, 3, 4]; track $index) {
                @if ($index + 1 <= item.averageRating!) {
                  <span
                    class="icon-[tabler--star-filled] size-4 shrink-0 text-yellow-400 ms-0.5"
                  ></span>
                } @else {
                  <span class="icon-[tabler--star] size-4 shrink-0 text-yellow-400 ms-0.5"></span>
                }
              }
            </div>
            <span class="text-gray-600">{{ item.averageRating }}/5</span>
          </div>
          <p class="text-gray-600 italic line-clamp-3">"{{ item.advisor.experience }}"</p>
        </div>
      }
    </div>
  </div>
</section>
