<div class="bg-base-100 flex flex-col rounded-md shadow-base-300/20 shadow-sm">
  <app-table-filter (onSearch)="onSearch($event)" (onPageChange)="pageChange($event)">
    <button type="button" class="btn btn-soft btn-primary btn-sm" (click)="openModal(false, null)">
      <span class="icon-[tabler--plus] size-4"></span>
      Agregar cuenta
    </button>
  </app-table-filter>
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        @if (resource.hasValue()) {
          <table class="table min-w-full" id="myTable">
            <thead>
              <tr>
                @for (h of headers; track $index) {
                  <th scope="col" class="group">
                    <div class="flex items-center justify-between">{{ h }}</div>
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (item of resource.value()!.results; track $index) {
                <tr class="hover:bg-gray-50">
                  <td>
                    <span class="font-medium">{{ $index + 1 }}</span>
                  </td>
                  <td>{{ item.bank.country }}</td>
                  <td>{{ item.bank.name }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.number }}</td>
                  <td>
                    <span
                      class="cursor-pointer badge badge-outline border-dashed badge-success badge-lg"
                      [routerLink]="['..', 'users', item.user._id]"
                    >
                      {{ item.user.name }} {{ item.user.lastName }}
                    </span>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-circle btn-text btn-sm"
                      aria-label="Action button"
                      (click)="openModal(true, item)"
                    >
                      <span class="icon-[tabler--edit] size-5"></span>
                    </button>
                    <button
                      type="button"
                      class="btn btn-circle btn-text btn-sm"
                      aria-label="Action button"
                    >
                      <span class="icon-[tabler--trash] size-5"></span>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @else if (resource.error()) {
          <p>Ha ocurrido un error</p>
        }
      </div>
    </div>
  </div>
  @if (resource.hasValue()) {
    <app-paginator
      [limit]="limit()"
      [metadata]="resource.value().metadata"
      (onPageChange)="goTopage($event)"
    />
  }
</div>

<!-- MODAL -->
<div
  id="form-modal"
  class="overlay modal overlay-open:opacity-100 overlay-open:duration-300 hidden"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cuenta bancaria</h3>
        <button
          aria-label="Close"
          type="button"
          class="btn btn-text btn-circle btn-sm absolute inset-e-3 top-3"
          (click)="closeModal()"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <form [formRoot]="form" novalidate>
        <div class="modal-body">
          <div class="w-full">
            <label class="label-text" for="banks">Seleccione banco</label>
            <select class="select" id="banks" [formField]="form.bank">
              @for (bank of banksResource.value()?.results; track $index) {
                <option [value]="bank._id">{{ bank.name }}</option>
              }
            </select>
            @if (form.bank().touched() && form.bank().invalid()) {
              <ul class="text-red-500 text-sm">
                @for (error of form.bank().errors(); track error) {
                  <li>{{ error.message }}</li>
                }
              </ul>
            }
          </div>
          <div class="w-full">
            <label class="label-text" for="banks_account">Seleccione tipo de cuenta</label>
            <select class="select" id="banks_account" [formField]="form.type">
              <option value="Ahorro">Ahorro</option>
              <option value="Corriente">Corriente</option>
            </select>
            @if (form.type().touched() && form.type().invalid()) {
              <ul class="text-red-500 text-sm">
                @for (error of form.type().errors(); track error) {
                  <li>{{ error.message }}</li>
                }
              </ul>
            }
          </div>
          <div class="w-full">
            <label class="label-text" for="number">Número de cuenta</label>
            <input id="number" type="text" class="input" [formField]="form.number" />
            @if (form.number().touched() && form.number().invalid()) {
              <ul class="text-red-500 text-sm">
                @for (error of form.number().errors(); track error) {
                  <li>{{ error.message }}</li>
                }
              </ul>
            }
          </div>
          <div class="w-full">
            <label class="label-text" for="advisor">Seleccione asesor</label>
            <select class="select" id="advisor" [formField]="form.user">
              @for (user of advisorResource.value()?.results; track $index) {
                <option [value]="user._id">{{ user.name }} {{ user.lastName }}</option>
              }
            </select>
            @if (form.user().touched() && form.user().invalid()) {
              <ul class="text-red-500 text-sm">
                @for (error of form.user().errors(); track error) {
                  <li>{{ error.message }}</li>
                }
              </ul>
            }
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-soft btn-secondary" (click)="closeModal()">
            Cerrar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
