/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "../node_modules/flyonui/flyonui.js";

@plugin "@iconify/tailwind4";


/* Import Third-party override css */
/* @import "flyonui/src/vendor/flatpickr.css"; */
@import "flyonui/src/vendor/notyf.css";
@import "flyonui/src/vendor/datatables.css";
/* @import "flyonui/src/vendor/editor.css"; */
/* @import "flyonui/src/vendor/fullcalendar.css"; */
@import "flyonui/src/vendor/raty.css";
/* @import "flyonui/src/vendor/waves.css"; */
/* @import "flyonui/src/vendor/apexcharts.css"; */


html, body{
    @apply scroll-smooth;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
    background-color: #f8f9fa;
}
