<configuration>
  <system.Webserver>
    <rewrite>
      <rules>
        <rule name="redirec all" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFIle" negate="true" pattern="" ignoreCase="false" />
          </conditions>
          <action type="Rewrite" url="./" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.Webserver>
</configuration>
