<div class="space-y-6">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
    <div class="stats bg-linear-to-r from-cyan-100 to-sky-200">
      <div class="stat">
        <div class="stat-title">Total Usuarios</div>
        <div class="stat-value">{{(summary.value()?.totalRegisteredUsers! - 1 ) || 0}}</div>
        <div class="stat-desc">18% more than last month</div>
      </div>
    </div>
    <div class="stats bg-linear-to-r from-green-100 to-emerald-200">
      <div class="stat">
        <div class="stat-title">Total Clientes</div>
        <div class="stat-value">{{summary.value()?.roleSummary?.User || 0}}</div>
        <div class="stat-desc">18% more than last month</div>
      </div>
    </div>
    <div class="stats  bg-linear-to-r from-indigo-100 to-violet-200">
      <div class="stat">
        <div class="stat-title">Total Asesores</div>
        <div class="stat-value">{{summary.value()?.roleSummary?.Advisor || 0}}</div>
        <div class="stat-desc">18% more than last month</div>
      </div>
    </div>
    <div class="stats  bg-linear-to-r from-amber-100 to-yellow-200">
      <div class="stat">
        <div class="stat-title">Total Emails Sent</div>
        <div class="stat-value">76,250</div>
        <div class="stat-desc">18% more than last month</div>
      </div>
    </div>
  </div>

  <section class="grid grid-cols-1 gap-6 xl:grid-cols-3">
    <div class="space-y-6">
      <div
        class="max-w-sm flex flex-col gap-3 p-4 bg-white rounded-xl h-80 overflow-y-auto shadow-sm"
      >
        <h3 class="text-xl font-semibold text-gray-800">Nuevos Registros</h3>
        <!-- Card Loop -->
        @for (user of newReg.value(); track $index) {
            <app-user-card [user]="user" />
        }
      </div>
      <div
        class="max-w-sm flex flex-col gap-3 p-4 bg-white rounded-xl h-80 overflow-y-auto shadow-sm"
      >
        <h3 class="text-xl font-semibold text-gray-800">Postulados</h3>
        <!-- Card Loop -->
        @for (user of postulate.value(); track $index) {
            <app-top-advisor-card [user]="user" />
        }
      </div>
      <div
        class="max-w-sm flex flex-col gap-3 p-4 bg-white rounded-xl h-80 overflow-y-auto shadow-sm"
      >
        <h3 class="text-xl font-semibold text-gray-800">Top 10</h3>
        <!-- Card Loop -->
        @for (user of top.value(); track $index) {
            <app-top-advisor-card [user]="user" />
        }
      </div>
    </div>
    <div class="bg-white rounded-xl col-span-2 shadow-sm p-6">
      <div class="my-6"></div>
      <app-annual-user-register />
      <div class="my-6"></div>
      <app-annual-request-service-chart />
    </div>
  </section>

  <section class="grid grid-cols-1 xl:grid-cols-3 gap-6">
    <app-user-status-pie-chart />
    <app-role-distribution [summary]="summary.value()!"/>
    <app-request-month />
  </section>

  <section>
    <app-annual-time-chart />
  </section>
</div>
