<div class="bg-base-100 flex flex-col rounded-md shadow-base-300/20 shadow-sm">
  <app-table-filter (onSearch)="onSearch($event)" (onPageChange)="pageChange($event)" />
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden">
        @if (resource.hasValue()) {
          <table class="table min-w-full" id="myTable">
            <thead>
              <tr>
                @for (h of headers; track $index) {
                  <th scope="col" class="group">
                    <div class="flex items-center justify-between">{{ h }}</div>
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (item of resource.value()!.results; track $index) {
                <tr class="hover:bg-gray-50">
                  <td>
                    <span class="font-medium">{{ $index + 1 }}</span>
                  </td>
                  <td>
                    <div
                      class="flex items-center gap-3 cursor-pointer"
                      [routerLink]="[item._id]"
                    >
                      <!-- Avatar con Indicador de Estado Online ficticio -->
                      <div
                        class="avatar"
                        [class.avatar-online-top]="item.connectStatus === connectStatus.Online"
                        [class.avatar-offline-top]="item.connectStatus === connectStatus.Offline"
                        [class.avatar-bussy-top]="item.connectStatus === connectStatus.Busy"
                        [class.avatar-away-top]="item.connectStatus === connectStatus.Away"
                      >
                        <div class="size-8 rounded-full">
                          <img [src]="item.avatar" [alt]="item.name" />
                        </div>
                      </div>

                      <!-- Info del Usuario -->
                      <div class="flex-1 min-w-0">
                        <div class="flex items-center justify-between">
                          <h3 class="text-sm font-medium text-gray-800 truncate">
                            {{ item.name }} {{ item.lastName }}
                          </h3>
                        </div>

                        <!-- Metadata -->
                        <div class="flex items-center text-xs text-gray-400 mt-0.5">
                          {{ item.phone }}
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>{{ item.email }}</td>
                  <td>
                    <span
                      class="badge badge-soft badge-sm"
                      [class.badge-success]="item.isActive"
                      [class.badge-error]="!item.isActive"
                    >
                      {{ item.isActive ? 'Activo' : 'Inactivo' }}
                    </span>
                  </td>
                  <td>{{ item.createdAt | date }}</td>
                  <td>{{ item.lastConnect | date }}</td>
                  <td>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button">
                      <span class="icon-[tabler--edit] size-5" [routerLink]="[item._id]"></span>
                    </button>
                    <button class="btn btn-circle btn-text btn-sm" aria-label="Action button">
                      <span class="icon-[tabler--trash] size-5"></span>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        } @else if (resource.error()) {
          <p>Ha ocurrido un error</p>
        }
      </div>
    </div>
  </div>
 @if (resource.hasValue()) {
    <app-paginator
      [limit]="limit()"
      [metadata]="resource.value().metadata"
      (onPageChange)="goTopage($event)"
    />
  }
</div>
